body{
	background-color: LightCyan;
	font: 100% Verdana, Arial, Helvetica, sans-serif;}
h1 {
	text-align: center;
	/*background: black;
	color: white;
*/}
h3 {
	background-color: #5D13E7;
	color: white;
	margin-left: 50px;
	padding: .375rem .75rem;
	padding-right: .75rem;
}
input {
  	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: .375rem .75rem;
	border: 1px solid #007bff;
	border-radius: .25rem;
	color: #007bff;
	transition: color .15s ease-in-out,
	  background-color .15s ease-in-out;
  }
input:hover, input:active, input:focus {
	color: #fff;
	background-color: #007bff;
  }
section{
	margin-left: 90px;
}
